<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background: url([[${backgroundImage}]]) no-repeat center center fixed;
    }
    .clock {
        margin: 0 0 auto;
        height: 100px;
        text-align: center;
    }
    .clock__word {
        font-size: 128px;
        color: #303030;
        background-color: rgba(255,255,255,0.3);
    }
</style>
<body>

<div class="clock">
    <p class="clock__word">17:00</p>
</div>

</body>
</html>